*.prefs
*.class
*.iml
*.project
*.classpath
*.docx
*.pdf
.idea
*.odt
*.metadata
bin
*.ser
*.cproject
Debug
*.mk
*.xcworkspace
Lab 7/Exercise 2/myprog
*.o

Lab 7/Part II/myprog

Lab 7/Part III/myprog
Lab 8/Exercise 1/myprog
Lab 8/Exercise 2/myprog